@model UMS.Service.ViewModels.User.RegisterViewModel
@{
    ViewData["Title"] = "Register Page";
}
<div>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName"><br>
            <span asp-validation-for="UserName"></span>
        </div>
        <hr>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email"><br>
            <span asp-validation-for="Email"></span>
        </div>
        <hr>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password"><br>
            <span asp-validation-for="Password"></span>
        </div>
        <hr>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword"><br>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <hr>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}