@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> _signInManager;
@{
    var isSigendIn = _signInManager.IsSignedIn(User);
    var isAdmin = User.IsInRole("Admin");
}

@if(isSigendIn && isAdmin)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="index">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Role" asp-action="index">Roles</a>
    </li>
} 

@if(isSigendIn)
{
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout">
            <button class="nav-link text-dark" type="submit">Log Out</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}