@model EMS.Service.ViewModels.Faculty.FacultyViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="mt-4">Delete Faculty</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>FacultyViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Model.Description
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>
