@model EMS.Service.ViewModels.Division.DivisionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DivisionViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
